<div
  class="editor-card comp-block abierta-card"
  data-tipo="pregunta_abierta"
  data-id="__ID__"
>
  <div class="form-group">
    <label class="abierta-label">
      <i
        data-lucide="message-square-text"
        style="width: 18px; height: 18px; color: #f59e0b"
      ></i>
      Pregunta de Análisis
    </label>
    <textarea class="form-control d-enunciado-gral" rows="3">
__ENUNCIADO__</textarea
    >
  </div>

  <div class="form-group" style="margin-top: 15px">
    <label class="abierta-sublabel">
      <i
        data-lucide="target"
        style="width: 16px; height: 16px; color: #64748b"
      ></i>
      Criterios de Evaluación
    </label>
    <input
      type="text"
      class="form-control d-puntos"
      value="__PUNTOS_CLAVE__"
      placeholder="Ej: Mencionar herencia y polimorfismo..."
    />
  </div>
</div>
